ul {
    border: 1px solid black;
    list-style-type: none;
    margin: 5px;
    padding: 5px;

}

#header{
    background-color: slategrey;
}

#header h3{
    color: white;
}

#header a{
    float: right;
}

li{
    display: inline;
    padding: 5px;
}

a{
    color: white;
}

h2{
    text-align: center;
}