ul {
    border: 1px solid black;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    background-color: slategrey;
}


li{
    display: inline;
   text-align: center;
    padding: 5px;
    margin-left: 120px;



}

a{
    color: white;
    text-align: center;
}

h2{
    text-align: center;
}