ul {
    border: 1px solid black;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    background-color: slategrey;
}


li{
    display: inline;
   float: right;
    padding: 5px;
}

a{
    color: white;
}

h2{
    text-align: center;
}